h1 {
        color: #ecf0f1;
        font-family: "Comic Sans MS", cursive, sans-serif;
        text-align: center;
        font-size: 50px;
        background-color: #4CAF50;
        padding: 10px;
        border-radius: 50px;
        box-shadow: 0 5px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 3px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 3px 0 rgba(255, 255, 255, 0.5) inset;

}

body {
        background-color: #C62828;
        border-radius: 10px;
        border:groove 10px #43A047;
        width: auto;
        height: 900px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
div.treeHeight {
        position: relative; top: 70px; left: 5px;
 }

div.treeChar {
        position: relative; top: 100px; left: 5px;
}

.button {
position: relative; top: 500px;
text-align: center;
padding: 10px 10px 5px !important;
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 21px !important;
background-color: #F36C8C;
font-weight: bold;
text-shadow: 1px 1px #F36C8C;
color: #ffffff;
border-radius: 12px;
-moz-border-radius: 12px;
-webkit-border-radius: 50px;
border: 1px solid #F36C8C;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;"
}


