h1 {
        color: #ecf0f1;
        font-family: "Comic Sans MS", cursive, sans-serif;
        text-align: center;
        font-size: 50px;
        background-color: #4CAF50;
        padding: 10px;
        border-radius: 50px;
        box-shadow: 0 5px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 3px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 3px 0 rgba(255, 255, 255, 0.5) inset;

}

body {
background-color:rgb(0,0,0);
background-image:url(http://www.zingerbugimages.com/backgrounds/green_lights_seamless_texture.jpg);
background-position:top left;
background-repeat:repeat;
background-attachment:fixed;
}


.treeHeight {
        margin: 30px 0;
        width: 30%;
        background-color: #FCF5D8;
        color: #AD8C08;
        border: 3px solid #AD8C08;
        border-radius: 5px;
        font-size: 18px;
        font-family: Comic Sans MS", cursive, sans-serif";
}

.button {
position: relative;
top: 500px;
text-align: center;
padding: 10px 10px 5px !important;
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 21px !important;
background-color: #F36C8C;
font-weight: bold;
text-shadow: 1px 1px #F36C8C;
color: #ffffff;
border-radius: 12px;
-moz-border-radius: 12px;
-webkit-border-radius: 50px;
border: 1px solid #F36C8C;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;"
}

